/*1200px*/
/* 1000px */
/* 800px; */
/* 600px; */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px 
*/
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500, 600, 700");
@import url("https://fonts.googleapis.com/css?family=Archivo:500, 700|Open+Sans:300,700");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Montserrat:wght@400;700&family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap");
/**
body {
 font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}
**/
h1 {
	font-size: 8rem;
	color: #09012d;
}

h1 a {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-family: "Archivo", sans-serif;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 8rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #09012d;
}

@media only screen and (max-width: 37.5em) {
	h1 {
		font-size: 6rem;
		line-height: 1.2;
	}
}

h2,
h3,
h4 {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	color: #09012d;
}

p {
	font-family: "Didact Gothic", sans-serif;
	font-family: "Cardo", serif;
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	color: #09012d;
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
	p {
		font-size: 1.8rem;
	}
}

a {
	font-family: "Open Sans", sans-serif;
	font-family: "Monterrat", sans-serif;
	font-family: "Cardo", serif;
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	font-weight: 800;
	text-transform: uppercase;
	color: #09012d;
	box-shadow: none;
}

a:hover {
	color: #c6372c;
}

img {
	max-width: 100%;
	height: auto;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
	html {
		font-size: 50%;
	}
}

body {
	font-family: "Didact Gothic", sans-serif;
	color: #6d5d4b;
	font-weight: 400;
	line-height: 1.6;
	padding: 0;
	margin: 0;
}

#__nuxt {
	max-width: 120rem;
	margin: 0 auto;
}

.site-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
	border-bottom: 1px solid #09012d;
}

.site-header__title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-header__title {
	width: auto;
}

.site-header__title a {
	text-decoration: none;
	font-family: "Didact Gothic", sans-serif;
	font-family: Montserrat, sans-serif;
}

.site-header__sub-title {
	width: auto;
	font-size: 3rem;
}

.site-header__logos {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
}

.site-header__logos .triangle {
	transform: translateX(0rem) translateY(-17rem) rotate(-15deg);
	z-index: 1;
}

@media only screen and (max-width: 75em) {
	.site-header__logos .triangle {
		transform: translateY(-20rem) rotate(-15deg);
	}
}

@media only screen and (max-width: 56.25em) {
	.site-header__logos .triangle {
		transform: translateY(-23rem) rotate(-15deg);
	}
}

@media only screen and (max-width: 37.5em) {
	.site-header__logos .triangle {
		transform: translateY(-25rem) rotate(-15deg);
	}
}

.site-header__logos .black-square {
	transform: translateX(6rem) translateY(-25rem) rotate(0deg);
	z-index: 2;
}

.site-header__logos .red-square {
	transform: translateX(-1rem) translateY(-53rem) rotate(0deg);
	z-index: 2;
}

.site-header__navigation {
	margin-top: 5rem;
	width: 50rem;
}

.site-header__navigation--menu {
	display: flex;
	justify-content: space-between;
}

.site-header__navigation--menu li {
	list-style: none;
}

.site-header__navigation--menu li a {
	font-size: 2rem;
	text-decoration: none;
}

.site-header__navigation--menu li a:hover {
	padding-bottom: 0.2rem;
	outline: none;
	border-bottom: 2px solid #c6372c;
}

.home-page__articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home-page__articles .post-item {
	width: 48%;
	position: relative;
}

@media only screen and (max-width: 56.25em) {
	.home-page__articles .post-item {
		width: 100%;
	}
}

.home-page__articles .post-item h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-page__articles .post-item h3 a {
	color: white;
	font-size: 3rem;
	text-decoration: none;
}

.home-page__articles .post-item h3 a:hover {
	padding: .5rem;
	border-bottom: 1px solid #fff;
}

.home-page__articles .post-item .the-excerpt {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-page__articles img {
	max-width: 100%;
	height: auto;
}

.home-page-container {
	display: flex;
	flex-wrap: wrap;
}

.post__title {
	padding: 0 4rem;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 56.25em) {
	.post__title {
		text-align: center;
	}
}

.post__date {
	padding: 1rem 4rem;
}

.post__content {
	padding: 0 4rem;
}

.post__content p {
	width: 100%;
}

.post__content a {
	width: 100%;
}

.post__content img {
	max-width: 100%;
	height: auto;
	position: relative;
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

@media only screen and (max-width: 37.5em) {
	.post__content img {
		left: 48%;
		right: 48%;
	}
}

.post-item {
	margin-bottom: 5rem;
}

.post-item img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5rem;
}

.post-item h3 {
	text-align: center;
	margin-bottom: 1rem;
}

.post-item h3 a {
	text-decoration: none;
	font-size: 2rem;
}

.blog-list {
	padding: 1rem 4rem;
}

.blog-list h1 {
	margin-bottom: 5rem;
}

.places-list {
	padding: 1rem 4rem;
}

.places-list__title {
	text-align: center;
	margin-bottom: 5rem;
}

/*# sourceMappingURL=styles.css.map */