.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid $color-black;


    @include respond('mobile') {
        flex-direction: column;
        padding-bottom: 3rem;
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__title {
        width: auto;
        line-height: 1.2;

        a {
            text-decoration: none;
            font-family: "Didact Gothic", sans-serif;
            font-family: Montserrat, sans-serif;
        }
    }

    &__sub-title {
        width: auto;
        font-size: 3rem;
    }

    &__logos {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);

        .triangle {
            transform: translateX(0rem) translateY(-17rem) rotate(-15deg);
            z-index: 1;

            @include respond(tab-land) {
                transform: translateY(-20rem) rotate(-15deg);
            }

            @include respond(tab-port) {
                transform: translateY(-23rem) rotate(-15deg);
            }

            @include respond(phone) {
                transform: translateY(-25rem) rotate(-15deg);
            }
        }

        .black-square {
            transform: translateX(6rem) translateY(-25rem) rotate(0deg);
            z-index: 2;
        }

        .red-square {
            transform: translateX(-1rem) translateY(-53rem) rotate(0deg);
            z-index: 2;
        }
    }

    &__navigation {
        margin-top: 1rem;
        width: 50rem;

        @include respond(phone) {
            margin-top: 5rem;
        }

        &--menu {
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    font-size: 2rem;
                    text-decoration: none;

                    &:hover {
                        padding-bottom: 0.2rem;
                        outline: none;
                        border-bottom: 2px solid $color-red;
                    }
                }
            }
        }
    }
}