.site-header {
    width: 100%;
    color: white;
    grid-column: 1/13;
    grid-row: 1/2;
    min-height: 20rem;
    background-color: white;
    border-bottom: 0.2rem solid $color-black;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 5vh);

    @include respond(tab-port) {
        grid-column: 2/12;
    }

    &__title {
        grid-column: 4/8;
        grid-row: 1/5;
        // display:grid;
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__sub-title {
        grid-column: 5/8;
        grid-row: 6/8;
        color: $color-black;
    }

    &__logos {
        grid-column: 1/12;
        grid-row: 1/6;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-template-rows: repeat(6, 6vh);

        .circle {
            grid-column: 10/11;
            grid-row: 1/3;
            margin-right: 3rem;

            @include respond(tab-port) {
                display: none;
            }
        }

        // want to put this in the actual component (styled component)
        .triangle {
            transform: translateX(0rem) translateY(-18rem) rotate(-15deg);
            z-index: 0;

            @include respond(tab-land) {
                transform: translateY(-20rem) rotate(-15deg);
            }

            @include respond(tab-port) {
                transform: translateY(-23rem) rotate(-15deg);
            }

            @include respond(phone) {
                transform: translateY(-25rem) rotate(-15deg);
            }
        }

        .black-square {
            // transform: translateX(270px) translateY(-220px);
            // position: absolute;
            // top: 2rem; 
            // left: 30rem; 
            grid-row: 2/4;
            grid-column: 2/4;
            z-index: 2;
        }

        .red-square {
            // transform: translateX(270px) translateY(-320px);
            // position: absolute;
            // top: 4rem; 
            // left: 25rem; 
            grid-row: 3/4;
            grid-column: 1/3;
            z-index: 5;
        }
    }


    // &__title {
    //   margin: 2rem 0;
    // }

    // &__subtitle{
    //   font-size: 5rem;
    // }
    .titleContainer {
        grid-column: 4/8;
        grid-row: 2/4;
        z-index: 5;

        @include respond(phone) {
            grid-row: 1/3;
        }
    }

    h1 {
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
        margin: 0rem 0 0 0;

        a {
            color: $color-black;
            text-decoration: none;
            // text-shadow: -1px 1px 0 $color-white, 1px 1px 0 $color-white, 1px -1px 0 $color-white;
        }
    }

    h2 {
        margin-top: 0rem;
        font-size: 4rem;
        text-align: center;

        @include respond(tab-port) {
            font-size: 3rem;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 4em;
        line-height: 4em;
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: white;
        opacity: 0.8;
        padding: 0 0.5em;
    }

    p {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
    }
}