.about {
    display: flex;
    justify-content: space-between;

    &__figure {
        width: 45%;
    }

    &__content {
        margin-left: 5rem;

        &--title {
            color: $color-black;
            text-align: center;
            margin-bottom: 5rem;
            font-size: 5rem;
            font-weight: bold;
        }

    }
}